.header {
  /* background-color: rgb(5, 5, 41); */
  /* background-color: #681616; */
  background-color: rgb(105, 194, 180);
  width: 100%;
  height: 70px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
