html body {
  width: 100%;
  height: 100%;
}

body {
  overflow: hidden;
}

.app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.main-class-for-app {
  width: 100%;
  height: 100%;
  margin: 0;
}
.vertical-divider {
  height: 100%;
}

.ant-divider {
  height: 100em;
}

.ant-divider-vertica {
  height: 100em;
}
